.sign-in{
    &__continue-with {
       padding: 50px 0;
    }
    &__email {
        margin-bottom: 35px;  
        
    }
    &__password{
        label{
            display: flex;
            align-items: center;
            justify-content: space-between;
        } 
    }
}