
.inner-sign {

		&__image {
		}

		&__body {
		}



		&__input {
		}

		&__button {
		}
}
.verification {

		&__text {
            margin-bottom: 33px;
            p{
                margin-bottom: 0px;
            }
		}

		&__form {
            margin-bottom: 0px;
		}
        &__code{
            margin-bottom:33px;

        }
}

.sign-text {

		&__title {
		}

		&__subtitle {

		}
}

