.header-sign {
    border-bottom: 1px solid #BEBCBD;
    padding: 35px 0;
}

.sign-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
		&__language {
            color: #333;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
            margin-right: 30px;
		}


        &__search{
            display: flex;
            align-items: center ;
            width: 184px;
            padding: 12px 10px 12px 48px;
            border-radius: 8px;
            background: #F6F6F6;
            outline: none;
            color: #807D7E;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
            text-align: center;
            input{
                padding-left: 12px;
                background-color: #F6F6F6;
                outline: none;
                height: 100%;
                width: 100%;
                
            }
        }   
}

.actions-sign-navbar {
        display: flex;
        align-items: center;
        column-gap: 30px;

        font-size: 18px;
        font-weight: 500;
        line-height: normal;

        &__login , &__sign-up{
            padding: 12px 48px;
            cursor: pointer;
        }
		&__login {
            border-radius: 8px;
            border: 1px solid #3C4242;
            color: #8A33FD;
            margin-left: 30px;
            color: $mainColor;
		}

		&__sign-up {
            display: block;
            border-radius: 8px;
            background: #8A33FD;
            span{
                color: #fff;
            }
		}
       
}

.actions-sign-navbar {
    &__language {
        cursor: pointer;
       
       
        outline: none;
        padding: 5px 0;
        font-size: 16px;
        text-align: center;
        appearance: none;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            right: 10px;
            top: 0;
            background: url('img/down-arrow.svg') no-repeat right center;
            width: 100%;
            height: 100%;
        }
    }

}

.custom-select {
    position: relative;
    display: inline-block;
    max-height: 400px; /* Задайте желаемую ширину */
  }
  
.custom-select select {
display: flex;
align-items: center;
height: 100%;
padding: 10px 20px 10px 10px;
border-radius: 5px;
appearance: none;
background-image: url('/img/down-arrow.svg'); /* Добавьте изображение для стрелочки */
background-repeat: no-repeat;
background-size: 10px;
background-position: 99%;

}

.custom-select select option {
padding: 10px;
}
